body{
    margin: 0;
}
.MoreHtml{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.More_header{
    padding: 0 10%;
    background: url("../img/news_header.png") no-repeat top right;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 6rem;
}
.More_header .logo-bar{
    padding: 40px 0;
}
.main{
    flex: 1;
}
a:hover{
    text-decoration: none;
}

.calendar{
    width: 215px;
    padding: 20px;
    box-shadow: 0 0 17px 4px rgba(233, 196, 196, 0.06);
}
.calendar-detail{
    font-size: 20px;
    font-weight: lighter;
}
.title_top{
    color: #413656;
}
.small_title{
    font-size: 15px;
    color: #666;
    margin: 10px 0;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.date{
    font-size: 17px;
    margin-top: 3rem;
}
.calendar .collapse .row .calendar-font, .calendar .row .calendar-font, .calendar .collapse .row .calendar-font, .calendar .collapse .row .calendar-font, .calendar .calendar-top>.calendar-font, .calendar-bottom>.calendar-font{
    color: #e9827f;
}
.calendar .collapse .row .calendar-font:hover, .calendar .row .calendar-font:hover, .calendar .collapse .row .calendar-font:hover, .calendar .collapse .row .calendar-font:hover, .calendar .calendar-top:hover>.calendar-font:hover, .calendar-bottom>.calendar-font:hover{
    opacity: 0.6;
}

.calendar-bottom{
    font-size: 25px;
    margin-top: 1rem;
    color: #413656;
    padding: 10px 0;
}
.calendar-bottom img{
    cursor: pointer;
}
.calendar-bottom:first-child{
    margin-top: 0;
}
.calendar-Date{
    width: 25%;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 14px;
    color: #afafaf;
}


.navigation{
    margin-top: 5rem;
}
.calendar-detail{
    box-shadow: 0 0 17px 4px rgba(233, 196, 196, 0.06);
    margin-bottom: 2.5rem;
    padding: 1.5rem 1rem;
}
.calendar-detail:hover{
    box-shadow: 0 0 17px 4px rgba(233, 196, 196, 0.3);
}
.navigation{
    display: flex;
    justify-content: center;

}
.paginations{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}
.paginations li{
    list-style: none;
    margin: 0 1rem;
}
.paginations li a{
    font-size: 15px;
    color: #413656;
}
.paginations li a:hover{
    opacity: 0.5;
}
.more_foot{
    background: url("../img/new_bg.png") no-repeat right ;
    -webkit-background-size: cover;
    background-size: cover;
}

.CopyText{
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.News{
    font-size: 18px;
    color: #666;
}
.News_left:hover{
    color: #e9827f;
}
.Domain p:first-child{
    font-size: 24px;
    font-weight: 600;
    color: #413656;
    margin-bottom: 5px;
}
.Domain{
    padding: 4rem 0 3rem 0;
}
.Honorable{
    margin-bottom: 8rem;
}
.Honorable p{
    font-size: 16px;
    color: #666;
    word-spacing: 5px;
    line-height: 45px;
    margin: 0;
}



@media screen and (max-width: 1024px) {

    .calendar-content{
        margin-top: 3rem;
    }
    .calendar{
        width: 100%;
        padding: 0 20px;
    }
    .logo-bar img{
        width: 14%;
    }
    .calendar-bottom{
        font-size: 24px;
    }


}

@media screen and (max-width: 768px){

    .More_header{
        margin-bottom:3rem;
    }
    .Honorable p{
        margin:2rem 0;
        line-height:unset;
    }
}

@media screen and ( max-width: 550px) {
    .calendar{
        width: 100%;
    }
    .More_header{
        background: linear-gradient(-27deg,#F5E0DD 0%,#F0C0BC 28%,#E77572 80%, #E6736F 100%);
        border: hidden;
    }
    .calendar-bottom{
        font-size: 20px;
    }
    .date{
        margin: 0;
    }
    .Honorable p{
         font-size: 15px;
     }
    .Domain p:first-child{
        font-size: 23px;
    }
    .Domain {
        padding: 4rem 0 2rem 0;
    }
    .more_foot{
        background: linear-gradient(-27deg, #fffff6 0%, #ff8a87 100%);
    }
    .CopyText{
        /*font-size: 12px;*/
        padding: 4rem 0 2.5rem;
    }
    .logo-bar img{
        width: 27%;
    }
    .paginations{
        padding-left: 0;
    }
    .calendar-detail{
        font-size: 19px;
        /*margin-bottom: 5rem;*/
    }
    .small_title{
        font-size: 14px;
    }
}



























